<!DOCTYPE html>
<html>
<head>
  <title>Ask couch</title>
</head>
<body>
  <form action="/answer">
    <input type="text" name="question">
    <input type="submit" value="Ask!">
  </form>
</body>
</html>
